<form
  class="form-horizontal"
  autocomplete="off"
  #editCollegeForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditCollege' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          required
          minlength="2"
          maxlength="256"
          formControlName="name"
        />
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="address">
        {{ "Address" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="address"
          id="address"
          required
          minlength="2"
          maxlength="256"
          formControlName="address"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="description">
        {{ "Description" | localize }}
      </label>
      <div class="col-md-9">
        <textarea
          class="form-control"
          name="description"
          id="description"
          rows="3"
          formControlName="description"
        ></textarea>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="latitude">
        {{ "Latitude" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="number"
          class="form-control"
          name="latitude"
          id="latitude"
          required
          formControlName="latitude"
        />
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="longitude">
        {{ "Longitude" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="number"
          class="form-control"
          name="longitude"
          id="longitude"
          required
          formControlName="longitude"
        />
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="email">
        {{ "Email" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          required
          formControlName="email"
        />
      </div>
    </div>

    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="isActive"
            formControlName="isActive"
          />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editCollegeForm.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
